* {
    box-sizing: border-box;
}

body { 
    background: url(../images/books-shelves-architecture-wood-442420.jpeg) no-repeat center center fixed;
    background-size: cover;
    color: white;
  }

h1 {
    text-align: center;
}

#quiz {
    text-align: center;
}